:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --button-color: #1a1a1a;
  --button-light: rgb(128, 206, 99);
  --button-hover: rgb(63, 63, 63);
  --background-color: #242424;
  --background-header: rgb(97, 97, 97);

  text-align: center;
  align-items: center;
  align-content: center;

  /* color-scheme: light dark; */
  color: rgb(255, 255, 255);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-file-upload-button {
   //display: none;
}

body {
  margin: 0;
  display: block;
  min-width: 1000px;
  min-height: 100vh;
}

.home {
    margin-top: 500px;
    ul {
        list-style: none;
        padding: 0px;

        width: 80%;
        left: 0px;
        right: 0px;

        display: inline-block;
    }

    input {
        margin-top: 25px;
        width: 25%;
        transition: width 500ms;

        color: white;

        background-color: var(--button-color);
        
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        border-style: solid;
        border-color: var(--button-hover);
        border-radius: 20px;

        &:focus {
            border-color: var(--button-hover);
            width: 80%;
        }
    }

    li {
        padding: 50px;
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 10px;

        background-color: var(--button-color);
        transition: background-color 700ms;

        border-style: solid;
        border-radius: 20px;
        border-width: 2px;
        border-color: var(--button-hover);

        button {
            margin: 5px;
            width: 100%;
            background-color: inherit;
            border-style: none;
            color: white;
        }

        &:hover {
            background-color: var(--button-hover);
        }

    }
}

.navigation {
    padding: 0px;
    padding-bottom: 10%;
    margin: 0px;
    min-width: 100%;
    height: 600px;

    top: 0;
    z-index: -10;
    position: absolute;

    //background-color: --background-header;
    background-image: linear-gradient(
        180deg, 
        var(--background-header),
        var(--background-color) 100%
    );

    .title {
        padding-top: 200px;
        padding: 100px;

        h1 {
            margin: 0px;
            font-size: 75px;
        }
        
        p {
            margin: 0px;
        }
    }   
    
    a {
        transition: color 750ms;
        color: white;
        text-decoration: none;

        &:hover {
            color: rgb(230, 128, 128);
        }
    }

    .navBtnFlex{
        width: 100%;
    }

    button {
        width: 15%;
        transition: color 250ms;
        transition: background-color 250ms;

        background-color: var(--button-color);
        color: white;

        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        padding: 20px;

        border-style: none;
        border-color: var(--button-hover);
        border-radius: 10px;

        &:hover {
            background-color: white;
            color: var(--button-color)
        }
    }
}

.builder {
    margin-top: 500px;

    .shareBlock {    
        margin-left: 25%;
        margin-right: 25%;
        .shareFlex {
            display: flex;
            flex-direction: row;
            
            button {
                flex: 1 1 auto;
                background-color: var(--button-color);
                border-style: solid;
                border-color: var(--button-hover);
                border-radius: 10px;
                color: white;
                padding: 10px;
                transition: background-color 250ms;

                a {
                    text-decoration: none;
                    color: white;
                } 

                &.postBtn {
                    margin-right: 5px;
                }

                &.exportBtn {
                    margin-left: 5px;
                }

                &:hover {
                    background-color: var(--button-hover);
                }
                
            }
        }

        button.importBtn {
            background-color: var(--button-color);
            border-style: solid;
            border-color: var(--button-hover);
            border-radius: 10px;
            color: white;
            padding: 10px;
            width: 100%;
            transition: background-color 250ms;

            &:hover {
                background-color: var(--button-hover);
            }

        }
    }

    .columns {
        margin-left: 30%;
        margin-right: 30%;
    }

    .tabColumn {
        background-color: var(--background-color);
        border-style: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 15px;
        
        &:hover {
            background-color: var(--button-hover);
        }

        &.selectedTab {
            background-color: var(--button-hover);
        }
        
    }

    .builderUtils {
        .builderUtilBtn {
            background-color: var(--background-color);
            border-width: 2px;
            border-style: solid;
            border-color: var(--button-hover);
            color: white;
            margin-left: 5px;
            margin-right: 5px;

            &:hover {
                background-color: var(--button-hover);
            }

            &.playing {
                background-color: rgb(255, 80, 80);
                color:black;
            }

            &.listen {
                background-color: rgb(80, 255, 80);
                color:black;
            }
        }

    }

    .settings {
        margin-top: 20px;
        .builderSettings {
            background-color: var(--background-color);
            color:white;
            border-radius: 5px;
            border-color: var(--button-hover);
            border-width: 2px;
            margin-left: 5px;
            margin-right: 5px;
            border-style: solid;
        }
    } 

    .builderUtils {
        margin-left: 5px;
    }

}

.auth {
    margin-top: 500px;
}

.profile {
    margin-top: 500px;
}

.fretboard {
    .note {
        background-color: var(--button-color);
        color: white;
        width: 30px;
        height: 20px;
        border-radius: 5px;

        margin-left: 5px;
        margin-right: 5px;

        border-style: solid;
        border-color: var(--button-hover);

        transition: background-color 150ms;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .noteClearBtn {
        background-color: var(--button-color);
        margin-left: 5px;
        border-radius: 5px;
        border-style: solid;
        border-color: var(--button-hover);

        color: white;

        &:hover {
            background-color: red;
        }
    }

    .tuningSelect {
        background-color: var(--button-hover);
        color: white;
        border-style: none;
    }
}

.view {
    margin-top: 500px;
    

    .utilBtn {
        button {
            background-color: var(--background-color);
            color: white;
            border-radius: 5px;
            border-style: solid;
            border-width: 2px;
            border-color: var(--button-hover);
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px;

            transition: background-color 500ms;

            &:hover {
                background-color: var(--button-hover);
            }
        }
    }

    .columns {
        button {
            background-color: var(--background-color);
            color: white;
            border-style: none;
            border-radius: 5px;
            margin: 0;
        }
    }

    .deleteBtn {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 10%;
        margin-right: 50px;
        margin-left: 50px;
        background-color: var(--background-color);
        color:white;
        padding: 10px;
        border-style: solid;
        border-color: var(--button-hover);
        border-radius: 5px;
        margin-bottom: 25px;
        transition: background-color 500ms;

        &:hover {
            background-color: red;
            color:white
        }
    }


}